ul {
    list-style-type: none;
    padding-inline-start: 0px;
 }
 
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
   }
 
   .titles-text
   {
       font-family: 'Roboto';
       font-style: normal;
       font-weight: 700;
       font-size: 32px;
       line-height: 38px;
       color: #000000;
   }
 
   .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .show{
    min-height: 43px;
    min-width: 144px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #005AAB;
    background: white;
    border: 1px solid #005AAB;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
 }
 
 .main {
     margin-top: 50px;
     margin-bottom: 80px;
 }
 
 
 
 .section-title {
     margin-top: 0px;
     margin-bottom: 30px;
 }
 
 .disable {
    display: none;
 }
 
 .flex-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 .hit-card__price--cross-out{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #7D868F;
 }
 