/* * {
    color: red;
} */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  *{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
  }

  .header__top{
    background-color: black;
    justify-content: space-between;
  }
  .conent{
    margin:auto;
    max-width: 1170px;
  }
  .header__top{
    display: flex;
  }
  .header__top-navigation{
    display: flex;
    justify-content:flex-start;
    
  }
  .header__navigation_text,.telephone-number
  {
    color: white;
    display: inline;
  }
  ul.header__navigation li
  {
    display: inline;
  }
  .footer__nav-list,.footer__addres,.footer__nav-list-item,.footer__nav-list-link,.social-list__desc,.social-list__alt,.social-list__item,.footer__bottom-txt,.footer__bottom-link,.footer__developer{
    color:white;
  }

  body{
    font-family: "Open Sans", sans-serif;
  }
  .main__catalog{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
  }
  h1{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    align-items: center;
  }

  h2{
    font-family: "Roboto", sans-serif;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
  }
  .header__path{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  h3{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
  }
  .text-buttons{
    font-family: "Open Sans", sans-serif;
    width: 600px;
    size: 14px;
  }
  .main__block-top{
    display: flex;
    justify-content: space-between;
  }
  .main__brands a{
    display: inline;
    
  }
  ul.main-hits__slider-slider li{
    display: inline;
    padding: 20px;
  }






  
  .new_price
  {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }
  .main__news-banner{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
  }
  .main__news-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
  .main__adventages-first{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
  }
  .main__adventages-second{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
  }
  .main__contacts-first{
    font-family: "Open Sans", sans-serif;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
  .main__contacts-second{
    font-family: "Open Sans", sans-serif;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .main__input-email{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }










  
  .old_price
  {
    color: darkgray;
    font-size: small;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }


  .button__favorites
  {
    width: 20px;
    height: 20px;
  }

  .banner-slider
  {
    width: 870px;
    height: 360px;
  }

  
  