* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body {
    margin: 0;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;

}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../static/fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: regular;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../static/fonts/OpenSans/OpenSans-regular.ttf);
    font-style: normal;
    font-weight: regular;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

/* Первый заголовок */
.header__first {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

    margin: auto;
    width: auto;
    background: #363636;
}

.header__flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.topnav-list__link {
    text-decoration: none;
    display: flex;
    color: #ffffff;
}

.header__topnav-list {
    display: flex;
    list-style-type: none;
    gap: 0 30px;
    padding-left: 15px;

}


.header__tel {
    text-decoration: none;
    color: #ffffff;
}


/* Второй header */
.search__flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.list-link__item {
    display: flex;
    text-decoration: none;
    color: #000000;
}

.list-link__link {
    display: flex;
    align-items: center;
    gap: 10px;

}

.header__search {
    display: flex;

}

.header__list-link {
    display: flex;
    list-style-type: none;
    gap: 0 30px;
}

/* Третий блок заголовка */

.third-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #005AAB;
    border: none;
    border-radius: 8px;
    padding: 11px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.main-nav__list {
    margin: 0;
    display: flex;
    list-style-type: none;
    gap: 25px;
    background: #F1F5F7;
    border-radius: 8px;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
    text-transform: uppercase;
}


/* Основной баннер */

.main-ban-cont {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-top: 50px;
}

.main-banner__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    gap: 30px;
}

.big-banner {
    display: flex;
    justify-content: center;
}

.big-banner__header {
    position: absolute;
}

.big-banner__text {
    position: absolute;
}

.big-banner__imagemain {}


.list__small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
}

.small-banner__text-second {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    color: #ffffff;
}

.small-banner__img {
    height: auto;
}

.small-banner__link {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 41px 15px 41px;
    background: #FFFFFF;
    border-radius: 8px;
}


/* Top selling */
.top-selling-cont {
    margin-top: 70px;
}

.head-and-button {
    display: flex;
    justify-content: space-between;
}

.head-and-button p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.head-and-button a {
    display: flex;
    align-items: center;
    border: 1px solid #005AAB;
    border-radius: 8px;
    padding: 13px 25px 13px 25px;
    text-decoration: none;
    color: #005AAB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.top-selling__list.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0px;
    gap: 30px;
}

.top-selling__list.list .list__item.item {
    display: flex;
    flex-direction: column;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.some-little-buttons-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.some-little-buttons-top button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 8px 22px 0px 0px;
}

.top-selling__item-container {
    padding: 20px 30px 20px 30px;
}

.item__product {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-height: 22px;
    text-align: left;
    width: 210px;

}

.product__image-container {
    width: 200px;
    height: 200px;
}

.item__product img {
    display: flex;
    width: auto;
    height: 200px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.item__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 36px;
}

.item__old-price {
    display: flex;
    align-items: bottom;
    color: #7D868F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: line-through;
    margin: 0px;
}

.item__actual-price {
    display: flex;
    align-items: end;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px;
    font-size: 22px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}