*{
   background-color: #252222;
   font-family: "Roboto"; 
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.content{
    max-width: 1290px;
    margin: 0 auto;
}

.visually-hidden{
    display: none;
}

.last-stories__item__title{
    color: #FFFFFF;
}

.last-stories__item__text{
    color: #FFFFFF;
}

.last-stories__item__desc{
    color: #FFFFFF;
}