* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.75s cubic-bezier(0, .71, .19, .94);

}

body {
    margin: 0;

}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;

}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../static/fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: regular;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url(../static/fonts/OpenSans/OpenSans-regular.ttf);
    font-style: normal;
    font-weight: regular;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
}

/* Первый заголовок */
.header__first {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;

    margin: auto;
    width: auto;
    background: #363636;
}

.header__flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.topnav-list__link {
    text-decoration: none;
    display: flex;
    color: #ffffff;
}

.header__topnav-list {
    display: flex;
    list-style-type: none;
    gap: 0 30px;
    padding-left: 15px;

}


.header__tel {
    text-decoration: none;
    color: #ffffff;
}


/* Второй header */
.search__flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
    gap: 32px;
}

.header__search {
    display: flex;
    width: 100%;
    max-width: 620px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #DEDEE2;

}

.list-link__item {
    display: flex;
    text-decoration: none;
    color: #000000;
}

.list-link__link {
    display: flex;
    align-items: center;
    gap: 10px;

}


.header__list-link {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 0 21px;
}

/* Третий блок заголовка */

.third-head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.header__button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #005AAB;
    border: none;
    border-radius: 8px;
    padding: 11px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
}

.header__button:hover {
    background: #198AF0;
}


.main-nav__list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    /* gap: 25px; */
    background: #F1F5F7;
    border-radius: 8px;
    /* padding: 13px; */
    /* padding-left: 25px;
    padding-right: 25px; */
    padding: 0 12px;
    text-transform: uppercase;
}

.main-nav__list li {
    display: flex;
    padding: 13px 12.5px;

}

.main-nav__list li:hover {
    background-color: #DBEAF8;
}


/* Основной баннер */

.main-ban-cont {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-top: 50px;
}

.main-banner__list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    gap: 30px;
    width: 100%;
}

.big-banner {
    position: relative;
    width: 100%;
    /* flex-direction: column; */
    /* justify-content: center; */

}

.big-banner__selected {
    padding: 0;
}

.big-banner-text-container {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 30px;
    top: 30px;
}

.big-banner__header {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}

.big-banner__text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.big-banner__left-button {
    left: 20px;
    top: 157px;
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-arrow {
    margin-left: -5px;

}

.big-banner__right-button {
    top: 157px;
    right: 20px;
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-banner__selected {
    position: absolute;
    left: 390px;
    top: 330px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.first-circle {
    background-color: #ffffff;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9B9B9B;
}

.first-circle {
    background-color: #ffffff;
}

.big-banner__imagemain {}


.list__small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    border-radius: 8px;
    padding: 30px 30px 30px 30px;
}

.small-banner__text-second {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    color: #ffffff;
}

.small-banner__img {
    height: auto;
}

.small-banner__link {
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 41px 15px 41px;
    background: #FFFFFF;
    border-radius: 8px;
}


/* Top selling */
.top-selling-cont {
    margin-top: 70px;
}

.head-and-button {
    display: flex;
    justify-content: space-between;
}

.head-and-button p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.head-and-button a {
    display: flex;
    align-items: center;
    border: 1px solid #005AAB;
    border-radius: 8px;
    padding: 13px 25px 13px 25px;
    text-decoration: none;
    color: #005AAB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s;

}

.head-and-button a:hover {
    color: #198AF0;
    border: 1px solid #198AF0;
}

.top-selling__list.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0px;
    gap: 30px;
}

.top-selling__list.list .list__item.item {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #DEDEE2;
    border-radius: 8px;

}

.top-selling__list.list .list__item.item:hover {
    border: 1px solid #005AAB;

}

.some-little-buttons-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    align-items: center;
    padding-top: 15px;
}

.new-ico-placeholder {
    position: absolute;
    top: 15px;
    width: 65px;
    height: 30px;
}

.item__new-image {
    width: 100%;
    height: 100%;
}

.item__button-fav.button-fav {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 20px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;
}


.item__product {
    padding: 65px 30px 20px 30px;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    line-height: 22px;
    text-align: left;
    width: 210px;
    height: 100%;
    text-decoration: none;
    color: #000000;
}

.top-name-and-photo {}

.top-prices {}



.product__image-container {
    width: 200px;
    height: 200px;
}

.item__product img {
    display: flex;
    width: auto;
    height: 200px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.item__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 36px;
}

.item__old-price {
    display: flex;
    align-items: bottom;
    color: #7D868F;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: line-through;
    margin: 0px;
}

.item__actual-price {
    display: flex;
    align-items: end;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0px;
    font-size: 22px;
}

/* Популярные бренды */

.popular-brands__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    justify-content: space-between;
}

.popular-brands__list li {
    display: flex;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
    width: 268px;
    height: 150px;
    align-items: center;
    justify-content: center;
}

.popular-brands__list li a img {
    max-width: 150px;
    max-height: 85px;
}


/* новости и акции */

.news-stocks__list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 170px);
    margin: 0;
    padding: 0;
}

.news-stocks .list__item:first-child {
    grid-area: 1 / 1 / 3 / 3;
}

.list__main {
    position: relative;
    max-width: 770px;
    max-Height: 370px;
}

.text-container {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    max-width: 296px;
    flex-wrap: wrap;
    gap: 10px;
}

.main__header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;

}

.main__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;

}

.main__button {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 15px 65px;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

}

.news-stocks__list .list__item {
    position: relative;
    max-width: 370px;
    max-height: 170px;
    margin-top: 26px;

}

.news-stocks__list .list__item .item__header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    color: #FFFFFF;

}

.advantages {
    background-color: #F1F5F7;
    margin: 80px 0;
}

.advantages__header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding-top: 77px;
    margin: 0;
}

.advantages__list {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 77px;
}

.advantages__list .list__item .item__img {
    max-height: 45px;

}

.advantages__list .list__item .item__header {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 28px 0 20px 0;

}

.advantages__list .list__item .item__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

.contacts-header {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 30px;
    margin: 0;
}

.contacts-container {
    display: flex;
    gap: 70px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 31px;

}


.contacts__list li {
    display: flex;
}

.contacts__list li img {
    max-height: 22px;
    margin-right: 11px;
}

.item-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item-container p {
    margin: 0;
    padding: 0;
}

.item-container .item__header {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.item-container .item__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.list__button {
    width: 210px;
    height: 48px;
    background: #005AAB;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.subscription {
    background-color: #F1F5F7;
    max-height: 152px;
    height: 100%;
}

.subscription-container {
    display: flex;
    justify-content: space-between;
 
}
.cont{
    align-items: center;
    gap: 15px;
}
.subscription__email{
    max-width: 440px;
    width: 440px;
    max-height: 48px;
    height: 100%;
}
.subscription__button{

}
.cont{
    display: flex;
    justify-content: space-between;
    gap: 135px;
}

.subscription__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    max-width: 370px;
}


/* Все что ниже украдено */

.footer a{
    color: #FFFFFF;
}

.footer__upp-part {
    background-color: #F1F5F7;
}

.footer__upp-part__section {
    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 135px;
}

.footer__upp-part__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;

    min-width: 370px;
    min-height: 52px;
}

.footer__upp-part__form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__upp-part__email-form {
    padding-left: 13px;

    min-height: 46px;
    min-width: 434px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.footer__down-part {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;

    background-color: #333333;
}

.footer__down-part__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 135px;
}

.footer__left-information {
    display: flex;
    flex-direction: column;
    gap: 24px;

    min-width: 270px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer__links-list__item:hover {
    color: #005AAB;
}

.footer__social-networks-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__social-networks-list__link {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 58px;
    min-height: 58px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.footer__social-networks-list__link:hover {
    background-color: white;
}

.footer__social-networks-list__image {
    display: block;

    min-width: 58px;
    min-height: 58px;
}

.footer__social-networks-list__link:hover .footer__social-networks-list__image {
    fill: #005AAB;
}

.footer__super-down-part__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer__politics-link:hover {
    color: #005AAB;
}