/* PT Sans Regular (400) */
@font-face {
    font-family: 'PT Sans';
    src: url('../data/fonts/ptsans/PTSans-Regular.eot');
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../data/fonts/ptsans/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../data/fonts/ptsans/PTSans-Regular.woff2') format('woff2'),
        url('../data/fonts/ptsans/PTSans-Regular.woff') format('woff'),
        url('../data/fonts/ptsans/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../data/fonts/ptsans/PTSans-Italic.eot');
    src: local('PT Sans Italic'), local('PTSans-Italic'),
        url('../data/fonts/ptsans/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../data/fonts/ptsans/PTSans-Italic.woff2') format('woff2'),
        url('../data/fonts/ptsans/PTSans-Italic.woff') format('woff'),
        url('../data/fonts/ptsans/PTSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* PT Sans Bold (700) */
@font-face {
    font-family: 'PT Sans';
    src: url('../data/fonts/ptsans/PTSans-Bold.eot');
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../data/fonts/ptsans/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../data/fonts/ptsans/PTSans-Bold.woff2') format('woff2'),
        url('../data/fonts/ptsans/PTSans-Bold.woff') format('woff'),
        url('../data/fonts/ptsans/PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: url('../data/fonts/ptsans/PTSans-BoldItalic.eot');
    src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'),
        url('../data/fonts/ptsans/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../data/fonts/ptsans/PTSans-BoldItalic.woff2') format('woff2'),
        url('../data/fonts/ptsans/PTSans-BoldItalic.woff') format('woff'),
        url('../data/fonts/ptsans/PTSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}