<footer class="footer">
    <div class="footer__upp-part">
        <section class="subscribe">
            <p class="footer__upp-part__title title">
                Получайте самые интересные предложения первыми!
            </p>
            <form class="subscribe__form" action="handler.php">
                <input class="footer__email-form text-form" type="text" placeholder="Введите ваш email" />
                <button class="button-text">Подписаться</button>
            </form>
        </section>
    </div>
    <div class="footer__down-part" >
        <img class="footer__logo__image" src="data/footer/Logo.svg" alt="Логотип" />
        <p class="footer__contacts">
            7-ая Кожуховская улица, 9, Москва (1 этаж)
        </p>
        <ul class="footer__user-list">
            <li class="list__item ">
                <a class="list__link" href="#">
                    Скидки
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Акции
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Покупателям
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Информация
                </a>
            <li class="list__item">
                <a class="list__link" href="#">
                    Доставка
                </a>
            </li>
        </ul>
        <ul class="footer__general-list">
            <li class="list__item">
                <a class="list__link" href="#">
                    Гарантия
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Кредит и рассрочка
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Новости
                </a>
            </li>
            <li class="list__item">
                <a class="list__link" href="#">
                    Вакансии
                </a>
            </li>
        </ul>
        <ul class="footer__link-list">
            <li class="list__item hori-list__item">
                <a class="list__link" href="#">
                    <img src="data/footer/links/link-1.png" alt="VK"/>
                </a>
            </li>
            <li class="list__item hori-list__item">
                <a class="list__link" href="#">
                    <img src="data/footer/links/link-2.png" alt="Facebook"/>
                </a>
            </li>
            <li class="list__item hori-list__item">
                <a class="list__link" href="#">
                    <img src="data/footer/links/link-3.png" alt="YouTube"/>
                </a>
            </li>
            <li class="list__item hori-list__item">
                <a class="list__link" href="#">
                    <img src="data/footer/links/link-4.png" alt="Instagram"/>
                </a>
            </li>
        </ul>
        <hr />
        <p class="footer__text text-open-sans">
            ©️ Electro plice, 2003–2023 <br />
            Политика обработки персональных данных
        </p>
    </div>
</footer>