<header class="header">
    <div class="container">
        <a class="header__logo" href="index.html">
            <img src="data/images/logos/logo.svg" alt="logo">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list__item">
                    <a class="header__nav-list__link" href="#">
                        Главная
                    </a>
                </li>
                <li class="header__nav-list__item">
                    <a class="header__nav-list__link" href="#">
                        О Седоне
                    </a>
                </li>
                <li class="header__nav-list__item">
                    <a class="header__nav-list__link" href="#">
                        Гостиницы
                    </a>
                </li>
            </ul>
        </nav>
        <a class="header__search" href="#">
            <img src="data/images/icons/search.svg" alt="search">
        </a>
        <a class="header__heart" href="#">
            <img src="data/images/icons/heart.svg" alt="heart">
        </a>
        <button class="header__button">
            <p class="header__button__text">ХОЧУ СЮДА!</p>
        </button>
    </div>
</header>