.breadcrumb {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}

.breadcrumb__list {
    display: flex;
    gap: 20px;
}

.breadcrumb__item {
    display: flex;
    gap: 20px;
}

.title {
    margin-bottom: 30px;
}

.upp-part {
    display: flex;
    gap: 170px;

    margin-bottom: 8px;
}

.upp-part__sort {
    display: flex;
    gap: 20px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.upp-part__sort {
    display: flex;
    gap: 20px;
}

.upp-part__sort-list {
    display: flex;
    gap: 20px;
}

.content {
    display: flex;
    gap: 30px;
    margin-top: 45px;
}

.goods__cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.filters {
    width: 270px;
    height: 704px;
}

.goods-filters {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

fieldset {
    padding: 0;
    border: 0;
}

.text-forms {
    display: flex;
    gap: 28px;
}

.goods-filters .text-form {
    height: 46px;
    width: 119px;
    border-radius: 8px;

    border: 1px solid #DEDEE2;
}

.input-price-range {
    width: 270px;
}

.goods-filters fieldset {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.form-select-diagonal {
    width: 268px;
    height: 46px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/* Стилизация форм ввода */

.sim-amount-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.sim-amount-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.sim-amount-radio + label:before {
    content: '';
    display: inline-block;

    width: 22px;
    height: 22px;

    flex-shrink: 0;
    flex-grow: 0;

    border: 1px solid #DEDEE2;
    border-radius: 50%;
    margin-right: 10px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.sim-amount-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #005AAB;
}

.sim-amount-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.sim-amount-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.sim-amount-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.sim-amount-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.sim-amount-radio:disabled+label::before {
    background-color: #e9ecef;
}