.breadcrumb {
    display: flex;
    gap: 20px;

    margin-bottom: 40px;
}

.breadcrumb
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D868F;
}

.breadcrumb__list {
    display: flex;
    gap: 20px;
}

.breadcrumb__item {
    display: flex;
    gap: 20px;
}

.sort-text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #7D868F;
}

.count__goods{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.title {
    margin-bottom: 30px;
}

.upp-part {
    display: flex;
    gap: 170px;

    margin-bottom: 8px;
}

.upp-part__sort {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    gap: 30px;
}

.upp-part__sort-list {
    display: flex;
    gap: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:black
}






.form-select-diagonal {
    width: 268px;
    height: 46px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}



.brands-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.brand-checkbox {
    position: absolute;
    display: none;
}

.sim-amount-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.sim-amount-radio {
    position: absolute;
    display: none;
}






.content {
    display: flex;
    gap: 30px;
    margin-top: 45px;
}

.filters {
    width: 270px;
    height: 704px;
}

.goods-filters {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.legend{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 25px 0px
}

.text-forms {
    display: flex;
    gap: 28px;
}

.text-form
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 116px;
    height: 45px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
    
}
  


.price-range {
    width: 270px;
    height: 1px
}

.goods-form__price{
    width: 270px;
    padding: 0px 0px

}

.brand-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}


.brand-checkbox + label:before {
    content: '';
    display: inline-block;

    width: 22px;
    height: 22px;
    margin-right: 10px;

    border: 1px solid #DEDEE2;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.brand-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #005AAB;
}

.brand-checkbox:checked + label::before {
    background-color: #005AAB;
}

.sim-amount-list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.sim-amount-radio {
    position: absolute;
    display: none;
}

.sim-amount-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.sim-amount-radio + label:before {
    content: '';
    display: inline-block;

    width: 24px;
    height: 24px;
    margin-right: 10px;

    border: 1px solid #DEDEE2;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.sim-amount-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #005AAB;
}

.sim-amount-radio:checked + label::before {
    background-color: #005AAB;
}

.light{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.goods-card {
    min-width: 268px;
    min-height: 441px;
    position: relative;
}

.goods-card__link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.goods-card__new-label {
    position: absolute;
    top: 15px;
}

.goods-card__heart {
    position: absolute;
    top: 20px;
    right: 20px;
}

.goods-card__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.goods-card__image {
    padding-top: 65px;
}

.goods-card__desc {
    max-width: 210px;
    max-height: 44px;

    position: absolute;
    left: 30px;
    top: 285px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.goods-card__price-container {
    position: absolute;

    left: 30px;
    bottom: 30px;
}

.goods-card__price--cross-out {
    min-width: 64px;
    min-height: 22px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-decoration: line-through;
    color: #7D868F;
}

.goods-card__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}

.goods__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}