.footer__upp-part {
    background-color: #F1F5F7;
}

.subscribe {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;

    display: flex;
    align-items: center;
    gap: 135px;
}

.footer__upp-part__title {
    width: 370px;
    height: 52px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__email-form {
    height: 48px;
    width: 440px;
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.footer__down-part {
    background-color: #333333;
}

.footer__down-part__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
}

.footer__information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 135px;
}

.footer__left-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer__links-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__social-networks-list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer__super-down-part__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}