* {
    margin: 0;
    transition-duration: .2s;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-inline-start: 0;
}

figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

button {
    border: none;
}

.disable {
    display: none;
}

.container {
    max-width: 1170px;
    margin: auto auto;
}

.button
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.big-button {
    min-width: 210px;
    min-height: 48px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.white-button {
    background: white;
    color: black;
}

.white-button:hover {
    background-color: #A4D4FF;
}

.white-button:active {
    background-color: #3086D4;
}

.blue-button {
    background: #005AAB;
    color: white;
}

.blue-button:hover {
    background: #198AF0;
}

.blue-button:active {
    background: #003769;
}

.link-btn {
    min-height: 43px;
    min-width: 144px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #005AAB;
    background: white;
    border: 1px solid #005AAB;
}

.link-btn:hover {
    color: #198AF0;
    border: 1px solid #198AF0;
}

.link-btn:active {
    color: #00305A;
    border: 1px solid #00305A;
}

.link-card {
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.link-card:hover {
    border: 1px solid #005AAB;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.super-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Карточка товара */

.goods-card {
    min-width: 268px;
    min-height: 441px;
    position: relative;
}

.goods-card__link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.goods-card__new-label {
    position: absolute;
    top: 15px;
}

.goods-card__heart {
    position: absolute;
    top: 20px;
    right: 20px;
}

.goods-card__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.goods-card__image {
    padding-top: 65px;
}

.goods-card__desc {
    max-width: 210px;
    max-height: 44px;

    position: absolute;
    left: 30px;
    top: 285px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.goods-card__price-container {
    position: absolute;

    left: 30px;
    bottom: 30px;
}

.goods-card__price--cross-out {
    min-width: 64px;
    min-height: 22px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    text-decoration: line-through;
    color: #7D868F;
}

.goods-card__price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
}