.header .special-color {
    
    background-color: #363636;
}

.header__upp-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
}

.header__upp-list {
    display: flex;
}

.header__upp-list__item {
    padding: 17px 0;
}

.header__upp-list__link {
    padding: 17px 15px;
}

.header__upp-list__link:hover {
    background-color: #5980A3;
}

.header__upp-list__link:active {
    background-color: #284864;
}

.upp-container {
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search__input {
    width: 621px;
    height: 48px;
    
    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.header__user-list {
    display: flex;
    gap: 20px;
}

.header__user-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__button-menu {
    border: none;

    width: 116px;
    height: 45px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: #005AAB;
    color: white;
}

.header__button-menu:hover {
    background-color: #198AF0;
}

.header__button-menu:active {
    background-color: #003769;
}

.header__nav-list {
    padding: 13px 12px;
    border-radius: 8px;

    display: flex;

    background: #F1F5F7;
}

.header__nav-list__link {
    padding: 13px 12px;
}

.header__nav-list__link:hover {
    background-color: #DBEAF8;
}

.header__nav-list__link:active {
    background-color: #99B0C5;
}