.header .special-color {
    
    background-color: #363636;
}

.header__upp-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: white;
}

.header__upp-list {
    display: flex;
}

.header__upp-list__item {
    padding: 17px 0;
}

.header__upp-list__link {
    padding: 17px 15px;
}

.header__upp-list__link:hover {
    background-color: #5980A3;
}

.header__upp-list__link:active {
    background-color: #284864;
}

.upp-container {
    margin: 30px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search-form {
    width: 100%;
    padding-right: 46px;
}

.header__search__input {
    padding-left: 46px;

    height: 46px;
    width: 100%;

    border: 1px solid #DEDEE2;
    border-radius: 8px;
}

.header__search-form {
    position: relative;
}

.header__search-form::before {
    content: url("../data/images/user-list/search.svg");
    position: absolute;
    top: 12px;
    left: 12px;
}

.header__user-list {
    margin-left: 32px;
    margin-right: 10px;

    display: flex;
    gap: 53px;
}

.header__user-list__item {
    position: relative;
}

.header__user-list__item:first-child:before {
    content: url("../data/images/user-list/heart.svg");
    position: absolute;
    top: -4px;
    left: -32px;
}

.header__user-list__item:last-child:before {
    content: url("../data/images/user-list/shopping-cart.svg");
    position: absolute;
    top: -4px;
    left: -32px;
}

.header__user-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header__user-list__link:hover {
    color: #005AAB;
}

.header__button-menu {
    border: none;

    position: relative;

    min-width: 116px;
    min-height: 45px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background: #005AAB;
    color: white;
}

.header__button-menu__text {
    padding-left: 30px;
}

.header__button-menu::before {
    content: url("../data/images/header/button-menu.svg");
    
    position: absolute;
    left: 15px;
    top: 11px;
}

.header__button-menu:hover {
    background-color: #198AF0;
}

.header__button-menu:active {
    background-color: #003769;
}

.header__nav-list {
    min-width: 1039px;
    min-height: 45px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #F1F5F7;
}

.header__nav-list__link {
    padding: 13px 13px;
}

.header__nav-list__link:hover {
    background-color: #DBEAF8;
}

.header__nav-list__link:active {
    background-color: #99B0C5;
}