/* Настройка баннеров (микроволновка и телевизор) */

.main-banner__slider__item {
    width: 870px;
    height: 360px;
    border-radius: 8px;
}

.banner {
    width: 270px;
    height: 360px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    flex-direction: column;
    
    background: #363636;
    color: white;
}

.figure-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    margin: 0;

    flex-direction: column;
}

.banner-text {
    width: 210px;
    height: 79px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.menu-button-banner {
    padding: 14px 42px;
    border-radius: 8px;
    
    background: white;
    color: black;
}

/* Настройка карточек с товарами */

.hit-card__link {
    width: 268px;
    height: 443px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-direction: column;
}

.hit-card__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hit-card__desc {
    width: 210px;
    height: 44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hit-card__price--cross-out {
    width: 64px;
    height: 22px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #7D868F;
}

/* Настройка брендов */

.popular-brands__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.popular-brands .brand__link {
    width: 268px;
    height: 148px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Настройка "Новости и акции" */

.news_and_promotions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px 30px; /* Почему не 30 на 30... */
}

.news_and_promotions__list-item:first-child {
    grid-area: 1 / 1 / 3 / 3;
}

/* Настройка "Преимущества" */

.advantages__list {
    display: flex;
    gap: 30px;
}

.advantages__list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
}

/* Настройка "Контакты" */

.contacts-container {
    display: flex;
    gap: 70px;
}

.contacts__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__list .list__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}