/* отступы */

.main {
    margin-top: 50px;
    margin-bottom: 80px;
}

.main section {
    margin-top: 40px;
    margin-bottom: 70px;
}

.section-title {
    margin-top: 0px;
    margin-bottom: 30px;
}

/* Настройка баннеров (микроволновка и телевизор) */

.banners {
    position: relative;

    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-banner__buttons {
    position: absolute;
    margin: 156px 20px;
    display: flex;
    gap: 738px;
}

.left-banner__button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.left-banner__control-list {
    top: 330px;
    left: 390px;

    position: absolute;
    display: flex;
    gap: 10px;
}

.left-banner__control-list__item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9B9B9B;
}

.left-banner__slider__item {
    display: none;

    width: 870px;
    height: 360px;
    border-radius: 8px;
}

.left-banner__slider__item:nth-child(1) {
    display: block;
}

.left-banner__control-list__item:nth-child(1) {
    background-color: white;
}

.left-banner__slider__content {
    padding: 30px 0 0 30px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-banner__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: white;
}

.left-banner__context {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.right-banner {
    min-width: 270px;
    min-height: 360px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

    flex-direction: column;
    
    background: #363636;
    color: white;
}

.right-banner__figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.right-banner__title {
    max-width: 210px;
    max-height: 79px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

/* Настройка карточек с товарами */

.sales-hits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px;
}

/* Настройка брендов */

.popular-brands__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.popular-brands .brand__link {
    min-width: 268px;
    min-height: 148px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Настройка "Новости и акции" */

.news_and_promotions__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 170px);
    gap: 30px 30px;
}

.news_and_promotions__list li {
    padding: 30px 0 0 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.news_and_promotions__list-item:first-child {
    grid-area: 1 / 1 / 3 / 3;
    gap: 30px;
}

.news_and_promotions__list-item__title-and-context {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news_and_promotions__list-item__title-and-context {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news_and_promotions__list-item:first-child .news_and_promotions__title {
    max-width: 296px;
    max-height: 52px;
}

.news_and_promotions__list-item:first-child .news_and_promotions__context {
    max-width: 296px;
    max-height: 44px;
}

.news_and_promotions__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: white;
}

.news_and_promotions__context {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

/* Настройка "Преимущества" */

.advantages {
    background-color: #F1F5F7;
    padding: 77px 0;
}

.advantages__title {
    margin-bottom: 40px;
}

.advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.advantages__list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.advantages-text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 370px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/* Настройка "Контакты" */

.contacts-container {
    display: flex;
    gap: 70px;
}

.contacts__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacts__list .list__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

@media (max-width: 768px) {
    .container {
        max-width: 710px;
    }

    .right-banner {
        display: none;
    }

    .sales-hits__list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .popular-brands__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .news_and_promotions__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 360px) {
    .container {
        max-width: 330px;
    }

    .sales-hits__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .popular-brands__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .news_and_promotions__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .news_and_promotions__list-item:first-child {
        grid-area: 1 / 1 / 2 / 2;
    }

    .advantages__list {
        grid-template-columns: repeat(1, 1fr);
    }
}