/* Open Sans Light (300) */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Light.eot');
    src: local('Open Sans Light'), local('OpenSans-Light'),
        url('../fonts/opensans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
        url('../fonts/opensans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-LightItalic.eot');
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
        url('../fonts/opensans/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/opensans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Open Sans Regular (400) */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Regular.eot');
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/opensans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/opensans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Italic.eot');
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
        url('../fonts/opensans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-Italic.woff') format('woff'),
        url('../fonts/opensans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Open Sans SemiBold (600) */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-SemiBold.eot');
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
        url('../fonts/opensans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/opensans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
        url('../fonts/opensans/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/opensans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Open Sans Bold (700) */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-Bold.eot');
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/opensans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/opensans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-BoldItalic.eot');
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/opensans/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/opensans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Open Sans ExtraBold (800) */
@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-ExtraBold.eot');
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
        url('../fonts/opensans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/opensans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face
{
    font-family: 'Open Sans';
    src: url('../fonts/opensans/OpenSans-ExtraBoldItalic.eot');
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
        url('../fonts/opensans/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/opensans/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/opensans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}